*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif; }

.btn {
  font-size: 1.2rem;
  text-transform: uppercase;
  border-radius: 3px;
  font-weight: 600;
  cursor: pointer; }
  .btn__nav {
    padding: 1rem 2rem;
    background-color: transparent;
    color: #efe5b0;
    border: 1px solid #efe5b0; }
    .btn__nav:not(:last-child) {
      margin-right: 1.2rem; }
    .btn__nav:hover {
      background-color: #ce727c; }
  .btn__general {
    background-color: #de7f89;
    color: #efe5b0;
    border: 1px solid #efe5b0;
    width: 100%;
    margin-top: 1.5rem;
    padding: 2rem 0; }
    .btn__general:not(:last-child) {
      margin-right: 1.2rem; }
    .btn__general:hover {
      background-color: #922630; }

.card {
  background-color: #FBEFF0;
  color: #4c4d5f;
  width: 35rem;
  height: 70rem;
  border-radius: 5px;
  padding: 3rem 4rem;
  box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.1);
  transition: all .3s ease-out; }
  .card:hover {
    transform: scale(1.1) translateY(-1rem);
    background-color: #fff; }
  .card:not(:last-child) {
    margin-right: 5rem; }
  .card__type {
    margin-top: 3rem;
    margin-bottom: 2rem; }
    .card__type h3 {
      font-size: 2.5rem;
      text-transform: uppercase;
      margin-bottom: 1rem;
      color: #de7f89; }
    .card__type p {
      font-size: 1.4rem;
      line-height: 2rem; }
  .card__price {
    position: relative;
    border-bottom: 2px solid #de7f89;
    padding-bottom: 1rem; }
    .card__price--currency,
    .card__price p:last-child {
      font-weight: 400; }
    .card__price--currency {
      font-size: 3rem;
      position: absolute;
      top: 0;
      left: 0; }
    .card__price--amount {
      display: inline-block;
      font-weight: 600;
      font-size: 5rem;
      color: #de7f89;
      margin-left: 3rem; }
    .card__price p:last-child {
      font-size: 1.5rem;
      text-transform: uppercase;
      display: inline-block;
      letter-spacing: 1px; }
  .card__details {
    margin-top: 2rem;
    height: 35rem; }
    .card__details div {
      display: flex;
      margin-bottom: 1rem;
      align-items: center;
      font-size: 1.3rem; }
      .card__details div svg {
        margin-right: 1rem; }

.dropdown__content {
  padding: 2.5rem 4rem;
  position: relative;
  background-color: white; }
  .dropdown__content:last-child {
    padding-bottom: 4rem; }
  .dropdown__content:hover {
    background-color: #f0f0f0; }
  .dropdown__content h2 {
    font-family: Tinos;
    font-weight: 400;
    margin-bottom: 1rem; }
  .dropdown__content p {
    font-size: 1.4rem;
    letter-spacing: 1px; }
  .dropdown__content-2 {
    position: relative;
    padding: 2rem 4rem; }
    .dropdown__content-2:last-child {
      padding-bottom: 2rem; }
    .dropdown__content-2 > div {
      display: flex;
      align-items: center; }
      .dropdown__content-2 > div img {
        width: 2rem;
        margin-right: 1rem; }
  .dropdown__content-more {
    color: #4c4d5f;
    position: absolute;
    top: 0;
    left: 30rem;
    background-color: white;
    visibility: hidden; }
    .dropdown__content-more-1 {
      width: 65rem;
      height: 43.3rem;
      display: grid;
      grid-template-columns: 28rem 28rem; }
      .dropdown__content-more-1 > div {
        display: grid;
        grid-template-columns: 2rem 1fr;
        padding: 1.5rem 2rem; }
        .dropdown__content-more-1 > div:hover {
          background-color: #f0f0f0; }
        .dropdown__content-more-1 > div img {
          width: 100%; }
        .dropdown__content-more-1 > div > :nth-child(2) {
          margin-left: 1rem; }
          .dropdown__content-more-1 > div > :nth-child(2) h3 {
            font-size: 1.5rem;
            font-weight: 400; }
          .dropdown__content-more-1 > div > :nth-child(2) p {
            margin-top: 1rem;
            font-size: 1.2rem; }
    .dropdown__content-more-2 {
      padding: 1rem 2rem;
      height: 42rem;
      width: 44rem; }
      .dropdown__content-more-2--proposal {
        top: -6rem; }
      .dropdown__content-more-2--invoice {
        top: -12rem; }
      .dropdown__content-more-2--agreement {
        top: -18rem; }
      .dropdown__content-more-2--quote {
        top: -24rem; }
      .dropdown__content-more-2--scope {
        top: -30rem; }
      .dropdown__content-more-2--brief {
        top: -36rem; }
      .dropdown__content-more-2 h2 {
        font-family: Tinos;
        margin-bottom: 2rem; }
      .dropdown__content-more-2 a:link,
      .dropdown__content-more-2 a:visited {
        text-decoration: none;
        color: #4c4d5f;
        font-size: 1.5rem;
        display: block;
        width: 40rem;
        padding: 2rem 0;
        border: 1px solid #4c4d5f;
        text-align: center;
        border-radius: 3px;
        transition: all .3s;
        letter-spacing: -.2px; }
        .dropdown__content-more-2 a:link:hover,
        .dropdown__content-more-2 a:visited:hover {
          transform: scale(1.03);
          background-color: #de7f89; }
        .dropdown__content-more-2 a:link:not(:last-child),
        .dropdown__content-more-2 a:visited:not(:last-child) {
          margin-bottom: 1rem; }
  .dropdown__content:hover .dropdown__content-more {
    visibility: visible;
    color: #4c4d5f; }

.slider__input {
  visibility: hidden; }

.slider__label {
  position: relative;
  width: 6rem;
  height: 3rem;
  padding: 1rem; }

.slider__toggle {
  position: absolute;
  top: 0;
  left: -1rem;
  right: -3rem;
  bottom: 0;
  background-color: #de7f89;
  cursor: pointer;
  border-radius: 3rem; }
  .slider__toggle::after {
    content: '';
    position: absolute;
    top: .5rem;
    left: .5rem;
    height: 2rem;
    width: 2rem;
    border-radius: 1rem;
    background-color: white;
    transition: all .5s; }

.slider__input:checked + .slider__label .slider__toggle::after {
  transform: translateX(3rem); }

.navigation {
  background-color: #de7f89;
  padding: 1.5rem 5rem 0 5rem;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 100; }
  .navigation__container {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .navigation__container--left {
      width: 15rem; }
    .navigation__container--center {
      display: flex;
      height: 6rem; }
    .navigation__container--right {
      display: flex;
      margin-bottom: 1.5rem; }
  .navigation__link {
    padding: 1.5rem;
    cursor: pointer; }
    .navigation__link, .navigation__link:link, .navigation__link:visited, .navigation__link--dropdown {
      color: white;
      text-decoration: none;
      font-size: 1.7rem;
      letter-spacing: 1px; }
    .navigation__link--dropdown {
      position: relative; }
      .navigation__link--dropdown-content {
        position: absolute;
        color: #4c4d5f;
        top: 6.2rem;
        left: -5rem;
        width: 30rem;
        box-shadow: 1.6rem 2.8rem 7.7rem 2px rgba(0, 0, 0, 0.11); }
        .navigation__link--dropdown-content-1, .navigation__link--dropdown-content-2 {
          visibility: hidden; }

.logo {
  width: 100%;
  margin-bottom: 1.5rem; }

.navigation__link--dropdown-1:hover .navigation__link--dropdown-content-1 {
  visibility: visible; }

.navigation__link--dropdown-2:hover .navigation__link--dropdown-content-2 {
  visibility: visible; }

.pricing {
  background-color: white;
  padding: 20rem 1rem; }
  .pricing__header {
    display: flex;
    justify-content: center;
    align-items: center; }
    .pricing__header > h2 {
      font-family: Tinos;
      font-size: 4rem;
      font-weight: 400; }
  .pricing__cards {
    margin-top: 7rem;
    display: flex;
    justify-content: center; }
