*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 112.5em) {
    html {
      font-size: 75%; } }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif; }

::selection {
  color: white;
  background-color: #de7f89; }

.pricing__header > h2 {
  margin-right: 5rem; }

.pricing__header p {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600; }
  .pricing__header p:first-of-type {
    color: #de7f89; }
  .pricing__header p:last-child {
    margin-left: 4rem; }

.heading--primary {
  font-family: Tinos;
  font-size: 4rem;
  font-weight: 400; }
  @media (max-width: 28.125em) {
    .heading--primary {
      font-size: 2.5rem; } }
  .heading--primary-sub {
    font-size: 2.5rem;
    text-transform: uppercase; }

.heading--details {
  font-size: 1.4rem;
  line-height: 2rem; }

.amount {
  font-weight: 600;
  font-size: 5rem; }

.add-ons {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FBEFF0;
  width: 100%;
  padding: 9rem 0;
  transform: skewY(352deg); }
  .add-ons__title {
    transform: skewY(8deg);
    margin-bottom: 5rem; }
  .add-ons__details {
    text-transform: uppercase; }
  .add-ons__card {
    padding: 4rem 5rem;
    background-color: white;
    width: 80rem;
    transform: skewY(8deg);
    box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.1);
    border-radius: 1rem; }
    @media (max-width: 37.5em) {
      .add-ons__card {
        width: 60rem; } }
    @media (max-width: 28.125em) {
      .add-ons__card {
        width: 80%; } }
    .add-ons__card:not(:last-child) {
      margin-bottom: 2rem; }
    .add-ons__card--container {
      display: flex;
      justify-content: space-between; }
      @media (max-width: 37.5em) {
        .add-ons__card--container {
          flex-direction: column-reverse;
          align-items: start; } }
    .add-ons__card--title {
      color: #de7f89; }
    .add-ons__card--price {
      width: 20rem;
      text-align: left; }
      @media (max-width: 28.125em) {
        .add-ons__card--price {
          margin-bottom: 1rem; } }

.btn {
  font-size: 1.2rem;
  text-transform: uppercase;
  border-radius: 3px;
  font-weight: 600;
  cursor: pointer; }
  .btn__nav {
    padding: 1rem 2rem;
    background-color: transparent;
    color: #efe5b0;
    border: 1px solid #efe5b0;
    transition: all .3s; }
    .btn__nav:not(:last-child) {
      margin-right: 1.2rem; }
    .btn__nav:hover {
      background-color: #ce727c; }
  .btn__general {
    background-color: #de7f89;
    border-style: none;
    color: #efe5b0;
    margin-top: 1.5rem;
    padding: 2rem 0;
    transition: all .3s; }
    .btn__general:not(:last-child) {
      margin-right: 1.2rem; }
    .btn__general:hover {
      background-color: #922630; }
  .btn__hamburger {
    text-align: center;
    padding: 2rem 0; }
    .btn__hamburger:link, .btn__hamburger:visited {
      text-decoration: none;
      font-size: 1.5rem; }
    .btn__hamburger-1 {
      background-color: #FBEFF0;
      color: #922630;
      margin-top: 5rem;
      margin-bottom: 2rem; }
    .btn__hamburger-2 {
      border: 2px solid #FBEFF0;
      color: #4c4d5f; }

.card {
  background-color: white;
  color: #4c4d5f;
  width: 35rem;
  height: 70rem;
  border-radius: 1rem;
  padding: 3rem 4rem;
  border: 2px solid #de7f89;
  transition: all .3s ease-out; }
  @media (max-width: 56.25em) {
    .card {
      width: 80%; } }
  .card:hover {
    transform: scale(1.1) translateY(-1rem);
    background-color: #FBEFF0;
    box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.1); }
  .card:not(:last-child) {
    margin-right: 5rem; }
    @media (max-width: 56.25em) {
      .card:not(:last-child) {
        margin-right: 0;
        margin-bottom: 1.5rem; } }
  .card__type {
    margin-top: 3rem;
    margin-bottom: 2rem; }
    .card__type h3 {
      margin-bottom: 1rem;
      color: #de7f89; }
    .card__type p {
      font-size: 1.4rem;
      line-height: 2rem; }
  .card__price {
    position: relative;
    border-bottom: 2px solid #de7f89;
    padding-bottom: 1rem; }
    .card__price--currency,
    .card__price p:last-child {
      font-weight: 400; }
    .card__price--currency {
      font-size: 3rem;
      position: absolute;
      top: 0;
      left: 0; }
    .card__price--amount {
      display: inline-block;
      color: #de7f89;
      margin-left: 3rem; }
    .card__price p:last-child {
      font-size: 1.5rem;
      text-transform: uppercase;
      display: inline-block;
      letter-spacing: 1px; }
  .card__details {
    margin-top: 2rem;
    height: 35rem; }
    .card__details div {
      display: flex;
      margin-bottom: 1rem;
      align-items: center;
      font-size: 1.3rem; }
      .card__details div svg {
        margin-right: 1rem; }
  .card button {
    width: 100%; }

.hamburger {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  top: 7.1rem;
  z-index: 50;
  visibility: hidden;
  transform: translateX(50rem);
  opacity: 0; }
  .hamburger input {
    display: none; }
  .hamburger__button {
    position: absolute;
    right: 0;
    bottom: 0; }
  .hamburger__menu {
    position: absolute;
    top: 0rem;
    bottom: 0;
    left: 14rem;
    right: 0;
    padding: 3rem 5rem;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 1.6rem 2.8rem 7.7rem 2px rgba(0, 0, 0, 0.11); }
    .hamburger__menu--dropdown-1, .hamburger__menu--dropdown-2 {
      color: #4c4d5f;
      text-decoration: none;
      font-size: 3rem; }
    .hamburger__menu--link, .hamburger__menu--link:link, .hamburger__menu--link:visited {
      color: #4c4d5f;
      text-decoration: none;
      font-size: 3rem; }
      .hamburger__menu--link:not(:last-child), .hamburger__menu--link:link:not(:last-child), .hamburger__menu--link:visited:not(:last-child) {
        margin-bottom: 4rem; }
    .hamburger__menu--link-content-1, .hamburger__menu--link-content-2 {
      overflow: hidden;
      max-height: 0;
      transition: all .3s;
      margin-top: 2rem;
      margin-left: 1rem;
      margin-bottom: 2rem; }
    .hamburger__menu--link-sub {
      display: flex;
      flex-direction: column; }
      .hamburger__menu--link-sub:link, .hamburger__menu--link-sub:visited {
        color: #4c4d5f;
        text-decoration: none;
        font-size: 2rem; }
      .hamburger__menu--link-sub:not(.hamburger__menu--link-sub:first-of-type) {
        margin-top: 1rem; }
    .hamburger__menu--link-1::after {
      content: '+'; }
      @media (max-width: 37.5em) {
        .hamburger__menu--link-1::after {
          margin-left: 40rem; } }
      @media (max-width: 28.125em) {
        .hamburger__menu--link-1::after {
          margin-left: 10rem; } }
    .hamburger__menu--link-2::after {
      content: '+'; }
      @media (max-width: 37.5em) {
        .hamburger__menu--link-2::after {
          margin-left: 38.3rem; } }
      @media (max-width: 28.125em) {
        .hamburger__menu--link-2::after {
          margin-left: 8.3rem; } }
  .hamburger__checkbox-1:checked + .hamburger__menu--dropdown-1 .hamburger__menu--link-content-1,
  .hamburger__checkbox-2:checked + .hamburger__menu--dropdown-2 .hamburger__menu--link-content-2 {
    max-height: 30rem; }
  .hamburger__checkbox-1:checked + .hamburger__menu--dropdown-1 .hamburger__menu--link-1::after,
  .hamburger__checkbox-2:checked + .hamburger__menu--dropdown-2 .hamburger__menu--link-2::after {
    content: '-'; }

.dropdown__content {
  padding: 2.5rem 4rem;
  position: relative;
  background-color: white; }
  .dropdown__content:last-child {
    padding-bottom: 4rem; }
  .dropdown__content:hover {
    background-color: #f0f0f0; }
  .dropdown__content h2 {
    font-family: Tinos;
    font-weight: 400;
    margin-bottom: 1rem; }
  .dropdown__content p {
    font-size: 1.4rem;
    letter-spacing: 1px; }
  .dropdown__content-2 {
    position: relative;
    padding: 2rem 4rem; }
    .dropdown__content-2:last-child {
      padding-bottom: 2rem; }
    .dropdown__content-2 > div {
      display: flex;
      align-items: center; }
      .dropdown__content-2 > div img {
        width: 2rem;
        margin-right: 1rem; }
  .dropdown__content-more {
    color: #4c4d5f;
    position: absolute;
    top: 0;
    left: 30rem;
    background-color: white;
    visibility: hidden; }
    .dropdown__content-more-1 {
      width: 65rem;
      height: 42.9rem;
      display: grid;
      grid-template-columns: 28rem 28rem; }
      .dropdown__content-more-1 > div {
        display: grid;
        grid-template-columns: 2rem 1fr;
        padding: 1.5rem 2rem; }
        .dropdown__content-more-1 > div:hover {
          background-color: #f0f0f0; }
        .dropdown__content-more-1 > div img {
          width: 100%; }
        .dropdown__content-more-1 > div > :nth-child(2) {
          margin-left: 1rem; }
          .dropdown__content-more-1 > div > :nth-child(2) h3 {
            font-size: 1.5rem;
            font-weight: 400; }
          .dropdown__content-more-1 > div > :nth-child(2) p {
            margin-top: 1rem;
            font-size: 1.2rem; }
    .dropdown__content-more-2 {
      padding: 1rem 2rem;
      height: 42rem;
      width: 44rem; }
      .dropdown__content-more-2--proposal {
        top: -6rem; }
      .dropdown__content-more-2--invoice {
        top: -12rem; }
      .dropdown__content-more-2--agreement {
        top: -18rem; }
      .dropdown__content-more-2--quote {
        top: -24rem; }
      .dropdown__content-more-2--scope {
        top: -30rem; }
      .dropdown__content-more-2--brief {
        top: -36rem; }
      .dropdown__content-more-2 h2 {
        font-family: Tinos;
        margin-bottom: 2rem; }
      .dropdown__content-more-2 a:link,
      .dropdown__content-more-2 a:visited {
        text-decoration: none;
        color: #4c4d5f;
        font-size: 1.5rem;
        display: block;
        width: 40rem;
        padding: 2rem 0;
        border: 1px solid #4c4d5f;
        text-align: center;
        border-radius: 3px;
        transition: all .3s;
        letter-spacing: -.2px; }
        .dropdown__content-more-2 a:link:hover,
        .dropdown__content-more-2 a:visited:hover {
          transform: scale(1.03);
          background-color: #de7f89; }
        .dropdown__content-more-2 a:link:not(:last-child),
        .dropdown__content-more-2 a:visited:not(:last-child) {
          margin-bottom: 1rem; }
  .dropdown__content:hover .dropdown__content-more {
    visibility: visible;
    color: #4c4d5f; }

.slider {
  margin-left: 1rem; }
  .slider__input {
    visibility: hidden; }
  .slider__label {
    position: relative;
    width: 6rem;
    height: 3rem;
    padding: 1rem; }
  .slider__toggle {
    position: absolute;
    top: 0;
    left: -1rem;
    right: -3rem;
    bottom: 0;
    background-color: #de7f89;
    cursor: pointer;
    border-radius: 3rem; }
    .slider__toggle::after {
      content: '';
      position: absolute;
      top: .5rem;
      left: .5rem;
      height: 2rem;
      width: 2rem;
      border-radius: 1rem;
      background-color: white;
      transition: all .5s; }
  .slider__input:checked + .slider__label .slider__toggle::after {
    transform: translateX(3rem); }

.faq {
  margin-top: 15rem;
  display: flex;
  align-items: center;
  flex-direction: column; }
  .faq__quote {
    display: flex;
    justify-content: center;
    padding: 1rem;
    background-color: #f0f0f0;
    width: 90rem;
    padding: 7rem 9rem; }
    @media (max-width: 37.5em) {
      .faq__quote {
        width: 65rem; } }
    @media (max-width: 28.125em) {
      .faq__quote {
        width: 40rem;
        flex-direction: column;
        align-items: center; } }
    .faq__quote--text {
      width: 40rem;
      margin-right: 2rem; }
      @media (max-width: 28.125em) {
        .faq__quote--text {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-right: 0; } }
      @media (max-width: 28.125em) {
        .faq__quote--text-heading {
          font-size: 3rem; } }
      .faq__quote--text span {
        color: #de7f89; }
  .faq__button {
    width: 20rem;
    height: 5rem; }
  .faq__accordion {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .faq__accordion--heading {
      color: #de7f89; }
    .faq__accordion--tab {
      width: 100rem;
      border-radius: 5px; }
      @media (max-width: 37.5em) {
        .faq__accordion--tab {
          width: 60rem; } }
      @media (max-width: 28.125em) {
        .faq__accordion--tab {
          width: 40rem; } }
      .faq__accordion--tab:first-of-type {
        margin-top: 5rem; }
      .faq__accordion--tab:not(.faq__accordion--tab:first-of-type) {
        margin-top: 1rem; }
      .faq__accordion--tab input {
        display: none; }
      .faq__accordion--tab-label {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 3rem;
        height: 4rem;
        cursor: pointer;
        font-size: 1.5rem;
        transition: all .3s;
        border-bottom: 1px solid #000; }
        .faq__accordion--tab-label::after {
          content: '+';
          font-weight: 600; }
        .faq__accordion--tab-label:hover {
          color: #de7f89; }
      .faq__accordion--tab-content {
        color: #4c4d5f;
        max-height: 0;
        overflow: hidden;
        font-size: 1.5rem;
        transition: all .3s;
        line-height: 2.5rem;
        padding-left: 3rem; }
      .faq__accordion--tab input:checked ~ .faq__accordion--tab-content {
        max-height: 50rem;
        visibility: visible; }
      .faq__accordion--tab input:checked ~ .faq__accordion--tab-label {
        border-bottom: 2px solid transparent;
        color: #de7f89; }
        .faq__accordion--tab input:checked ~ .faq__accordion--tab-label::after {
          content: '-'; }

.footer {
  margin-top: 10rem;
  width: 100%;
  background-color: #FBEFF0;
  padding: 5rem 7rem; }
  .footer__section--top {
    display: flex;
    justify-content: space-around; }
  @media (max-width: 28.125em) {
    .footer__section--inner-left {
      margin-right: 5rem; } }
  @media (max-width: 28.125em) {
    .footer__section--inner-middle {
      margin-right: 5rem; } }
  .footer__section--bottom {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem; }
    .footer__section--bottom-links a:visited,
    .footer__section--bottom-links a:link {
      text-decoration: none; }
    .footer__section--bottom p {
      font-size: 1rem; }
      .footer__section--bottom p a:link,
      .footer__section--bottom p a:visited {
        text-decoration: none;
        font-weight: 600;
        color: #de7f89; }
  .footer__subject--title {
    color: #de7f89;
    font-size: 2rem;
    margin-bottom: 1rem; }
  .footer__subject--content {
    display: flex;
    flex-direction: column; }
    .footer__subject--content a:link,
    .footer__subject--content a:visited {
      text-decoration: none;
      color: #4c4d5f;
      font-size: 1.5rem;
      transition: color .3s; }
      .footer__subject--content a:link:not(:last-child),
      .footer__subject--content a:visited:not(:last-child) {
        margin-bottom: .5rem; }
      .footer__subject--content a:link:last-child,
      .footer__subject--content a:visited:last-child {
        margin-bottom: 5rem; }
      .footer__subject--content a:link:hover,
      .footer__subject--content a:visited:hover {
        color: #de7f89; }

.navigation {
  background-color: #de7f89;
  padding: 1.5rem 5rem 0 5rem;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1000; }
  .navigation__container {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .navigation__container--left {
      width: 15rem; }
    .navigation__container--center {
      display: flex;
      height: 6rem; }
      @media (max-width: 37.5em) {
        .navigation__container--center {
          display: none; } }
    .navigation__container--right {
      display: flex;
      margin-bottom: 1.5rem; }
      @media (max-width: 37.5em) {
        .navigation__container--right {
          display: none; } }
    .navigation__container--hamburger {
      display: none;
      position: absolute;
      top: 0; }
      @media (max-width: 37.5em) {
        .navigation__container--hamburger {
          display: block;
          left: 17rem; } }
      @media (max-width: 28.125em) {
        .navigation__container--hamburger {
          display: block;
          left: 0; } }
      @media (max-width: 26.8em) {
        .navigation__container--hamburger {
          display: block;
          left: -9rem; } }
      .navigation__container--hamburger input {
        display: none; }
      .navigation__container--hamburger label {
        cursor: pointer;
        right: 0; }
        .navigation__container--hamburger label span {
          position: relative;
          top: 3.5rem;
          left: 50rem; }
          .navigation__container--hamburger label span, .navigation__container--hamburger label span::before, .navigation__container--hamburger label span::after {
            background-color: white;
            width: 3rem;
            height: 2px;
            display: inline-block;
            transition: all .3s; }
          .navigation__container--hamburger label span::before, .navigation__container--hamburger label span::after {
            content: '';
            position: absolute;
            left: 0; }
          .navigation__container--hamburger label span::before {
            top: -1rem; }
          .navigation__container--hamburger label span::after {
            top: 1rem; }
  .navigation__link {
    padding: 1.5rem;
    cursor: pointer; }
    .navigation__link, .navigation__link:link, .navigation__link:visited, .navigation__link--dropdown {
      color: white;
      text-decoration: none;
      font-size: 1.7rem;
      letter-spacing: 1px; }
    .navigation__link--dropdown {
      position: relative; }
      .navigation__link--dropdown-content {
        position: absolute;
        color: #4c4d5f;
        top: 6.2rem;
        left: -5rem;
        width: 30rem;
        box-shadow: 1.6rem 2.8rem 7.7rem 2px rgba(0, 0, 0, 0.11); }
        .navigation__link--dropdown-content-1, .navigation__link--dropdown-content-2 {
          visibility: hidden; }
  .navigation input:checked + label span::before {
    background-color: white;
    transform: rotate(40deg);
    transform-origin: center;
    top: 0; }
  .navigation input:checked + label span::after {
    background-color: white;
    transform: rotate(-40deg);
    transform-origin: center;
    top: 0; }
  .navigation input:checked + label span {
    background-color: transparent; }

.logo {
  width: 100%;
  margin-bottom: 1.5rem; }

.navigation__link--dropdown-1:hover .navigation__link--dropdown-content-1 {
  visibility: visible; }

.navigation__link--dropdown-2:hover .navigation__link--dropdown-content-2 {
  visibility: visible; }

.pricing {
  background-color: white;
  padding: 20rem 1rem; }
  .pricing__header {
    display: flex;
    justify-content: center;
    align-items: center; }
  .pricing__cards {
    margin-top: 7rem;
    display: flex;
    justify-content: center; }
    @media (max-width: 56.25em) {
      .pricing__cards {
        flex-direction: column;
        align-items: center; } }
