// COLORS
$main-color: #de7f89;
$sub-color: #efe5b0;

$lighter-blue: rgb(242, 250, 255);
$light-blue: rgb(228, 235, 244);

$green: #adde9b;
$green-darker: #abdeb1;

$white: rgb(255, 255, 255);
$black: #000;
$light-gray: #f0f0f0;
$dark-gray: rgb(76, 77, 95);

// FONTS
$title-font: Tinos;

// BOX SHADOW
$box-shadow: 1.6rem 2.8rem 7.7rem 2px rgba($black,0.11);