// COLORS
$lighter-blue: rgb(242, 250, 255);
$light-blue: rgb(228, 235, 244);

$green: rgb(0, 178, 137);
$green-darker: rgb(0, 163, 126);

$white: rgb(255, 255, 255);
$dark-gray: rgb(76, 77, 95);

// FONTS
$title-font: Georgia;