.faq {
  margin-top: 15rem;
  display: flex;
  align-items: center;
  flex-direction: column;

  &__quote {
    display: flex;
    justify-content: center;
    padding: 1rem;
    background-color: $light-gray;
    width: 90rem;
    padding: 7rem 9rem;

    &--text {
      width: 90rem;
      margin-right: 2rem;

      & span {
        color: $main-color;
      }
    }
    
  }

  &__button {
    width: 20rem;
    height: 5rem;
  }

  &__accordion {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    &--heading {
      color: $main-color;
    }
    
    &--tab {
      width: 100rem;
      border-radius: 5px;

      &:first-of-type {
        margin-top: 5rem;
      }

      &:not(&:first-of-type) {
        margin-top: 1rem;
      }
      
      & input {
        display: none;
      }
      
      &-label {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 3rem;
        height: 4rem;
        cursor: pointer;
        font-size: 1.5rem;
        transition: color .3s, border-bottom 1s;
        border-bottom: 1px solid $black;

        &::after {
          content: '+';
          font-weight: 600;
        }

        &:hover {
          color: $main-color;
        }
      }
      
      &-content {
        color: $dark-gray;
        max-height: 0;
        overflow: hidden;
        font-size: 1.5rem;
        transition: all .3s;
        line-height: 2.5rem;
        padding-left: 3rem;
      }
      
      & input:checked ~ &-content {
        max-height: 50rem;
        visibility: visible;
      }

      & input:checked ~ &-label {
        border-bottom: 2px solid transparent;
        color: $main-color;

        &::after {
          content:'-';
        }
      }
    }
  }
}