.navigation {
  background-color: $main-color;
  padding: 1.5rem 5rem 0 5rem;
  position: fixed;
  left: 0;
  top: 0;
  right:0;
  z-index: 100;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &--left {
      width: 15rem;
    }

    &--center {
      display: flex;
      height: 6rem;
    }

    &--right {
      display: flex;
      margin-bottom: 1.5rem;
    }
  }

  &__link {
    padding: 1.5rem;
    cursor: pointer;
    
    &,
    &:link,
    &:visited,
    &--dropdown {
      color: $white;
      text-decoration: none;
      font-size: 1.7rem;
      letter-spacing: 1px;
    }

    
    &--dropdown {
      position: relative;

      &-content {
        position: absolute;
        color: $dark-gray;
        top: 6.2rem;
        left: -5rem;
        width: 30rem;
        box-shadow: $box-shadow;

        &-1,
        &-2{
          visibility: hidden;
        }
      }
    }
  }
}

.logo {
  width: 100%;
  margin-bottom: 1.5rem;
}

.navigation__link--dropdown-1:hover .navigation__link--dropdown-content-1 {
  visibility: visible;
}

.navigation__link--dropdown-2:hover .navigation__link--dropdown-content-2 {
  visibility: visible;
}