.navigation {
  background-color: $main-color;
  padding: 1.5rem 5rem;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &--left {
      width: 15rem;
    }

    &--center {
      display: flex;
    }

    &--right {
      display: flex;

      &-1 {
        display: flex;
        margin-right: 10rem;
      }
    }
  }

  &__link {
    padding: 1.5rem;
    cursor: pointer;
    
    &,
    &:link,
    &:visited,
    &--dropdown {
      color: $white;
      text-decoration: none;
      font-size: 1.7rem;
      letter-spacing: 1px;
    }

    
    &--dropdown {
      position: relative;

      &-content {
        position: absolute;
        color: $dark-gray;
        top: 6.5rem;
        left: -5rem;
        width: 30rem;
        box-shadow: $box-shadow;
      }
    }
  }
}

.logo {
  width: 100%;
}

.dropdown__content {
  padding: 2.5rem 4rem;
  position: relative;
  
  &:last-child {
    padding-bottom: 4rem;
  }

  &:hover {
    background-color: $light-gray;
  }

  & h2 {
    font-family: $title-font;
    font-weight: 400;
    margin-bottom: 1rem;
  }

  & p {
    font-size: 1.4rem;
    letter-spacing: 1px;
  }

  &-more {
    color: $dark-gray;
    position: absolute;
    top: 0;
    left: 30rem;
    width: 65rem;
    height: 43.3rem;
    background-color: $white;
    display: grid;
    grid-template-columns: 28rem 28rem;
    visibility: hidden;

    & > div {
      display: grid;
      grid-template-columns: 2rem 1fr;
      padding: 1.5rem 2rem;

      &:hover {
        background-color: $light-gray;
      }

      & img {
        width: 100%;
      }

      & > :nth-child(2) {
        margin-left: 1rem;
        
        & h3 {
          font-size: 1.5rem;
          font-weight: 400;
        }
  
        & p {
          margin-top: 1rem;
          font-size: 1.2rem;
        }
      }
    }
  }

  &:first-child:hover &-more {
    visibility: visible;
  }
}