.add-ons {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $main-color-lighter;
  width: 100%;
  padding: 9rem 0;
  transform: skewY(352deg);

  &__title {
    transform: skewY(8deg);
    margin-bottom: 5rem;
  }

  &__details {
    text-transform: uppercase;
  }

  &__card {
    padding: 4rem 5rem;
    background-color: $white;
    width: 80rem;
    transform: skewY(8deg);
    box-shadow: $box-shadow-subtle;
    border-radius: 1rem;

    @include respond(tab-port-smaller) {
      width: 60rem;
    }

    @include respond (phone) {
      width: 80%;
    }

    &:not(:last-child) {
      margin-bottom: 2rem;
      
    }
    
    &--container {
      display: flex;
      justify-content: space-between;

      @include respond(tab-port-smaller) {
        flex-direction: column-reverse;
        align-items: start;
      }
    }
    
    &--title {
      color: $main-color;
    }
    
    &--price {
      width: 20rem;
      text-align: left;

      @include respond(phone) {
        margin-bottom: 1rem;
      }
    }

  }
}