.btn {
  background-color: transparent;
  color: $sub-color;
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 1rem 2rem;
  border-radius: 3px;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid $sub-color;
  
  &:not(:last-child) {
    margin-right: 1.2rem;
  }
  
  &:hover {
    background-color: #ce727c;
  }
}