.btn {
  font-size: 1.2rem;
  text-transform: uppercase;
  border-radius: 3px;
  font-weight: 600;
  cursor: pointer;
  
  
  &__nav {
    padding: 1rem 2rem;
    background-color: transparent;
    color: $sub-color;
    border: 1px solid $sub-color;
    transition: all .3s;

    &:not(:last-child) {
      margin-right: 1.2rem;
    }
    
    &:hover {
      background-color: #ce727c;
    }
  }
    
  &__general {
    background-color: $main-color;
    border-style: none;
    color: $sub-color;
    margin-top: 1.5rem;
    padding: 2rem 0;
    transition: all .3s;

    &:not(:last-child) {
      margin-right: 1.2rem;
    }
    
    &:hover {
      background-color: $main-color-darker;
    }
  }
}