.pricing {
  background-color: $white;
  padding: 6rem 18rem;

  & > h2 {
    font-family: $title-font;
    font-size: 4rem;
    font-weight: 400;
    text-align: center;
  }

  &__cards {
    margin-top: 5rem;
    display: flex;
    justify-content: space-around;
  }
}