.pricing {
  background-color: $white;
  padding: 20rem 1rem;

  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  &__cards {
    margin-top: 7rem;
    display: flex;
    justify-content: center;
  }
}