.pricing {
  background-color: $white;
  padding: 20rem 1rem;

  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    
    & > h2 {
      font-family: $title-font;
      font-size: 4rem;
      font-weight: 400;
    }
  }
  
  &__cards {
    margin-top: 7rem;
    display: flex;
    justify-content: center;
  }
}